@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* Brand Colors */
  --brand-primary: #6356d7;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #5491e3;
  --brand-secondary--inverted: #ffffff;
  /* Typography */
  --font-family-sans-serif: "Roboto";
  --font-size-base: 18px;
  --text-color: var(--brand-secondary--inverted);
  /* Selectable Items */
  /* --selected-item-color: var(--selectable-item-base); */
  --selected-item-color--inverted: "ffffff";
}

:global([data-ui="PaneItem"] *:not(svg) + span) {
  box-shadow: none !important;
}
